In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('data/adult.csv')

In [3]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [4]:
df['age'].value_counts()

36    1348
35    1337
33    1335
23    1329
31    1325
      ...
88       6
85       5
87       3
89       2
86       1
Name: age, Length: 74, dtype: int64

# 1.	Каков средний возраст (признак age) женщин?

In [5]:
round(df[df['gender']=='Female']['age'].mean(),3)

36.928

# 2.	Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary) и тех, кто получает менее 50K в год?

In [6]:
df.groupby(['income'])['age'].agg([np.mean, np.std])

             mean        std
income
<=50K   36.872184  14.104118
>50K    44.275178  10.558983

# 3.	Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary) и тех, кто получает менее 50K в год?

In [7]:
df['gender'].value_counts()

Male      32650
Female    16192
Name: gender, dtype: int64

# 4.	Какова доля граждан Германии (признак native-country)?

In [8]:
round(df['native-country'].value_counts(normalize=True)['Germany'],3)

0.004

# Формирование сложных запросов

# 1.	Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)

In [13]:
df.groupby(['income'])['education'].value_counts()

income  education
<=50K   HS-grad         13281
        Some-college     8815
        Bachelors        4712
        11th             1720
        Assoc-voc        1539
        10th             1302
        Masters          1198
        Assoc-acdm       1188
        7th-8th           893
        9th               715
        12th              609
        5th-6th           482
        1st-4th           239
        Prof-school       217
        Doctorate         163
        Preschool          82
>50K    Bachelors        3313
        HS-grad          2503
        Some-college     2063
        Masters          1459
        Prof-school       617
        Assoc-voc         522
        Doctorate         431
        Assoc-acdm        413
        11th               92
        10th               87
        7th-8th            62
        12th               48
        9th                41
        5th-6th            27
        1st-4th             8
        Preschool           1
Name: education, dtype: int64

In [40]:
pd.crosstab(df['income'],df['education'])

education,10th,11th,12th,1st-4th,5th-6th,7th-8th,9th,Assoc-acdm,Assoc-voc,Bachelors,Doctorate,HS-grad,Masters,Preschool,Prof-school,Some-college
income,,,,,,,,,,,,,,,,
<=50K,1302,1720,609,239,482,893,715,1188,1539,4712,163,13281,1198,82,217,8815
>50K,87,92,48,8,27,62,41,413,522,3313,431,2503,1459,1,617,2063

In [ ]:
неправда

# 2.	Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. Найдите таким образом максимальный возраст мужчин расы Amer-Indian-Eskimo.

In [32]:
df.groupby(['race', 'gender'])['age'].max()['Amer-Indian-Eskimo']['Male']

82

# 3.	Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.

In [20]:
round(df.groupby(['income'])['marital-status'].value_counts(normalize=True),3)

income  marital-status
<=50K   Never-married            0.414
        Married-civ-spouse       0.334
        Divorced                 0.160
        Separated                0.039
        Widowed                  0.037
        Married-spouse-absent    0.015
        Married-AF-spouse        0.001
>50K    Married-civ-spouse       0.854
        Never-married            0.063
        Divorced                 0.057
        Widowed                  0.011
        Separated                0.008
        Married-spouse-absent    0.005
        Married-AF-spouse        0.001
Name: marital-status, dtype: float64

In [41]:
df[df['income']=='>50K']['marital-status'].apply(lambda x: 'Married' if x[:7]=='Married' else 'Not married').value_counts(normalize=True)

Married        0.860443
Not married    0.139557
Name: marital-status, dtype: float64

среди женатых.

# 4.	Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?

In [21]:
df['hours-per-week'].max()

99

In [25]:
df[df['hours-per-week']==99].count()['hours-per-week']

137

In [39]:
round(df.groupby(['hours-per-week'])['income'].value_counts(normalize=True), 3)

hours-per-week  income
1               <=50K     0.889
                >50K      0.111
2               <=50K     0.774
                >50K      0.226
3               <=50K     0.949
                >50K      0.051
4               <=50K     0.929
                >50K      0.071
5               <=50K     0.905
                >50K      0.095
6               <=50K     0.891
                >50K      0.109
7               <=50K     0.844
                >50K      0.156
8               <=50K     0.913
                >50K      0.087
9               <=50K     0.889
                >50K      0.111
10              <=50K     0.922
                >50K      0.078
11              <=50K     1.000
12              <=50K     0.935
                >50K      0.065
13              <=50K     0.893
                >50K      0.107
14              <=50K     0.964
                >50K      0.036
15              <=50K     0.952
                >50K      0.048
16              <=50K     0.927
                          ...
80              <=50K     0.605
                >50K      0.395
81              <=50K     1.000
82              <=50K     1.000
84              <=50K     0.653
                >50K      0.347
85              <=50K     0.647
                >50K      0.353
86              <=50K     0.500
                >50K      0.500
87              <=50K     1.000
88              <=50K     1.000
89              >50K      0.667
                <=50K     0.333
90              <=50K     0.595
                >50K      0.405
91              <=50K     1.000
92              <=50K     0.667
                >50K      0.333
94              <=50K     1.000
95              <=50K     0.500
                >50K      0.500
96              <=50K     0.889
                >50K      0.111
97              <=50K     0.500
                >50K      0.500
98              <=50K     0.786
                >50K      0.214
99              <=50K     0.701
                >50K      0.299
Name: income, Length: 181, dtype: float64

0,299

# 4.	Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?

In [24]:
df.groupby(['native-country', 'income'])['hours-per-week'].mean()

native-country              income
?                           <=50K     39.552590
                            >50K      45.318182
Cambodia                    <=50K     41.157895
                            >50K      43.888889
Canada                      <=50K     37.378151
                            >50K      46.126984
China                       <=50K     36.686047
                            >50K      42.027778
Columbia                    <=50K     39.123457
                            >50K      56.250000
Cuba                        <=50K     39.201923
                            >50K      42.852941
Dominican-Republic          <=50K     41.561224
                            >50K      42.800000
Ecuador                     <=50K     37.948718
                            >50K      47.833333
El-Salvador                 <=50K     35.819444
                            >50K      43.454545
England                     <=50K     39.375000
                            >50K      46.297872
France                      <=50K     40.090909
                            >50K      46.500000
Germany                     <=50K     38.898649
                            >50K      45.706897
Greece                      <=50K     41.870968
                            >50K      55.555556
Guatemala                   <=50K     38.788235
                            >50K      36.666667
Haiti                       <=50K     36.409091
                            >50K      40.666667
                                        ...
Nicaragua                   <=50K     36.847826
                            >50K      38.333333
Outlying-US(Guam-USVI-etc)  <=50K     41.409091
                            >50K      40.000000
Peru                        <=50K     36.214286
                            >50K      40.000000
Philippines                 <=50K     38.014286
                            >50K      43.588235
Poland                      <=50K     37.228571
                            >50K      39.588235
Portugal                    <=50K     41.254545
                            >50K      46.750000
Puerto-Rico                 <=50K     38.908537
                            >50K      39.900000
Scotland                    <=50K     40.833333
                            >50K      46.666667
South                       <=50K     41.052632
                            >50K      51.400000
Taiwan                      <=50K     35.307692
                            >50K      45.538462
Thailand                    <=50K     43.040000
                            >50K      53.000000
Trinadad&Tobago             <=50K     38.800000
                            >50K      40.000000
United-States               <=50K     38.817189
                            >50K      45.471853
Vietnam                     <=50K     37.848101
                            >50K      39.428571
Yugoslavia                  <=50K     38.533333
                            >50K      43.375000
Name: hours-per-week, Length: 83, dtype: float64

In [ ]:
лооооооооооооолооооололололололвооооовооооововововововововововововоовввввввв вовововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововововово